* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
  border: none;
}

@import "themes/theme.css";

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: 0.5s;
  margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  color: @main-fg;
  background-color: @main-bg;
  text-shadow: none;
}

#workspaces button.focused {
  background-color: transparent;
}

#workspaces,
#taskbar {
  padding: 0px 15px;
  color: @main-fg;
  border-radius: 20px;
  background-color: @main-bg;
  margin-right: 3px;
  margin-left: 3px
}

#workspaces button,
#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: @main-fg;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active,
#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover,
#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  padding-left: 3px;
  padding-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


/* Modules -> Single */
#custom-menu,
#group-menu,
#power-profiles-daemon,
#network,
#battery,
#clock,
#tray,
#mpris,
#bluetooth,
#custom-hyprPicker,
#keyboard-state {
  padding: 0px 15px;
  color: @main-fg;
  border-radius: 20px;
  background-color: @main-bg;
  margin-right: 3px;
  margin-left: 3px;
}

/*Modules -> Middle*/
#custom-reboot,
#custom-yay,
#memory,
#temperature,
#pulseaudio {
  padding: 0px 15px 0px 15px;
  color: @main-fg;
  border-radius: 0px;
  background-color: @main-bg;
}

/*Modules -> Right */
#custom-shutdown,
#custom-pikaur,
#pulseaudio.microphone,
#disk {
  padding: 0px 15px 0px 15px;
  color: @main-fg;
  border-radius: 0px 20px 20px 0px;
  background-color: @main-bg;
}

/*Modules -> Left */
#custom-logout,
#cpu,
#custom-pacman,
#backlight {
  padding: 0px 15px 0px 15px;
  color: @main-fg;
  border-radius: 20px 0px 0px 20px;
  background-color: @main-bg;
  margin-left: 3px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/*Critical Warning*/
#workspaces button.urgent,
#keyboard-state > label.locked,
#tray > .needs-attention,
#temperature.critical,
#network.disconnected,
#bluetooth.disconnected,
#battery.warning,
#battery.critical {
  color: #f32525;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

