* {
    main-bg:            #04050f;
    main-fg:            #dde1e8;
    main-br:            #431632;
    main-ex:            #1d365a;
    select-bg:          #1d365a;
    select-fg:          #b3becd;
    separatorcolor:     transparent;
    border-color:       transparent;
}