* {
    main-bg:            #0a0719;
    main-fg:            #d1d9e6;
    main-br:            #3a537a;
    main-ex:            #1c2144;
    select-bg:          #1c2144;
    select-fg:          #b62c59;
    separatorcolor:     transparent;
    border-color:       transparent;
}