* {
    main-bg:            #282a36ff;
    main-fg:            #f8f8f2ff;
    main-br:            #bd93f9;
    main-ex:            #282a36ff;
    select-bg:          #ff79c6ff;
    select-fg:          #282a36ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
