* {
    main-bg:           #282828ff;
    main-fg:           #fbf1c7ff;
    main-br:           #7c6f64ff;
    main-ex:           #3c3836ff;
    select-bg:         #a89984ff;
    select-fg:         #3c3836ff;
    separatorcolor:    transparent;
    border-color:      transparent;
}
