* {
    main-bg:            #0f0f0fff;
    main-fg:            #e2c5afcc;
    main-br:            #f61a1acc;
    main-ex:            #ef9753cc;
    select-bg:          #ef9753cc;
    select-fg:          #191724ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
