* {
    main-bg:            #26233ae6;
    main-fg:            #e0def4ff;
    main-br:            #eb6f92ff;
    main-ex:            #c4a7e7cc;
    select-bg:          #c4a7e7ff;
    select-fg:          #191724ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
