* {
    main-bg:            #262335;
    main-fg:            #E2725B;
    main-br:            #FFD700;
    main-ex:            #495495;
    select-bg:          #98FF98;
    select-fg:          #FF6347;
    separatorcolor:     transparent;
    border-color:       transparent;
}
